{{ define "main" }}

<main>


	<div class="container-fluid">
		<div class="rhead">
		<h3 id="t{{.Params.title}}">{{ .Params.title }}
			</h3>
			<i class="fas fa-external-link-alt"></i><a target="_blank" href="{{.Params.chronam}}">Recipe in Chronicling America</a>

		</div>
		<div class="row">
			<div class="col recipe">
				{{ .Content }}
			</div>
			<div class="col image">
			{{$path := .Page.Params.jpg}}
			<img src= {{ printf "../../images/recetas/%s" $path | urlize | absLangURL}}/>
				
			</div>
			</div>
			
</div>
		<div class="footer">{{ partial "single/footer.html" . }}
	</div>

	<div class="pagination">
		{{- if .NextPage }}
		<a href="{{ .NextPage.RelPermalink }}" class="left arrow">&#8592;</a>
		{{- end }}
		{{- if .PrevPage }}
		<a href="{{ .PrevPage.RelPermalink }}" class="right arrow">&#8594;</a>
		{{- end }}

		<a href="#" class="top"></a>
	</div>
</main>

{{ end }}
