{{ define "main" }}
<main>
	
	<h2>{{ .Title }}</h2>
	<div class="container-fluid">
		<div class="row">
			<div class="catalogue col">
				<div>
					<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..." title="Type a string"></div>
				<div id="filterlist">
					<h3 class="subhead">dietary restrictions</h3>
					<ul class="container-fluid filterlist">
						{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.etiquettas }}
						<li class="button"><button type="checkbox" name="{{ replace $taxonomyname "-" " " }}" id="d{{ replace $taxonomyname "-" " " }}" onclick="filter3({{ replace $taxonomyname "-" " " }})">{{ replace $taxonomyname "-" " " }}</button>
							
						</li>
						{{ end }}
					</ul>
					<h3 class="subhead">course</h3>
					<ul class="container-fluid filterlist">
						{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.plato }}
						<li class="button"><button type="checkbox" name="{{ replace $taxonomyname "-" " " }}" id="d{{ replace $taxonomyname "-" " " }}" onclick="filter3({{ replace $taxonomyname "-" " " }})">{{ replace $taxonomyname "-" " " }}</button>
							
						</li>
						{{ end }}
					</ul>
					
					
					<h3 class="subhead">ingredients</h3>
					<ul class="container-fluid filterlist">
						{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.ingredientes }}
						<li class="button"><button type="checkbox" name="{{ replace $taxonomyname "-" " " }}" id="d{{ replace $taxonomyname "-" " " }}" onclick="filter3({{ replace $taxonomyname "-" " " }})">{{ replace $taxonomyname "-" " " }}</button>
							
						</li>
						{{ end }}
					</ul>
					
					
				</div>
			</div>
			<div class="col recipeslist">
				
				<div id="testdiv"></div>
				{{ range .Site.Data.recetas_json }}
				<div class="recipe-card" id= "{{ .id }}">
					<h2><a href="../recetas/{{.id}}">{{ .title_en }}</a></h2>
					
					<h4>Ingredients</h4>
					<div class="ingredients">
						
						{{ range $item, $list := .ingredients_en }}
						<button type="checkbox" name="{{ $list }}" onclick = "filter3({{ $list }})" class="ingtag" id="t{{ $list }}">{{ $list }}</button>
						{{ end }}
						
					</div>
					<h4>Course</h4>
					<div class="course">
						
						{{ range $item, $list := .course_en }}
						<button type="checkbox" name="{{ $list }}" onclick = "filter3({{ $list }})" class="coursetag" id="t{{ $list }}">{{ $list }}</button>
						{{ end }}
						
					</div>	
					<h4>Dietary Restrictions</h4>
					<div class="tags">
						
						{{ range $item, $list := .tags_en }}
						<button type="checkbox" name="{{ $list }}" onclick = "filter3({{ $list }})" class="tagtag" id="t{{ $list }}">{{ $list }}</button>
						{{ end }}
						
					</div>	
					
				</div>
				{{ end }}
				
				
				
			</div>
		</div>
	</div>
</main>

<script>
	function myFunction() {
	var input, filter, ul, li, a, i, txtValue;
	input = document.getElementById("myInput");
	filter = input.value.toUpperCase();
	ul = document.getElementById("filterlist");
	//    li = ul.getElementsByTagName("h1");
	li = ul.getElementsByTagName("li");
	
	for (i = 0; i < li.length; i++) {
	a = li[i].getElementsByTagName("button")[0];
	txtValue = a.textContent || a.innerText;
	if (txtValue.toUpperCase().indexOf(filter) > -1) {
	li[i].style.display = "";
	} else {
	li[i].style.display = "none";
	}
	}
	}
	
	var total_terms=[]
	
	function filter3(query) {
	var checkboxes = document.getElementsByName(query);
	
	if (checkboxes[0].classList.contains('selected')){
	checkboxes.forEach(a=>a.classList.remove("selected"));
	checkboxes.forEach(a=>a.classList.add("deselected"));
	checkboxes.forEach(a=>a.removeAttribute('checked'));
	//checkbox.removeAttribute('checked');//
	qloc = total_terms.indexOf(query);
	total_terms.splice(qloc, 1);
	}
	else {
	total_terms.push(query);
	//checkbox.setAttribute("checked","");//
	checkboxes.forEach(a=>a.classList.remove("deselected"));
	checkboxes.forEach(b=>b.classList.add("selected"));
	checkboxes.forEach(b=>b.setAttribute("checked",""));
	}
	var recipes = document.getElementsByClassName("recipe-card");
	for (var i= 0; i < recipes.length; i++) {
	var rtarget = recipes[i]
	var kids = rtarget.children
	var itarget = rtarget.children[2]
	var ctarget = rtarget.children[4]
	var ttarget = rtarget.children[6]
	
	var ings = Array.from(itarget.children);
	var ids1 = ings.map(element => {
	return element.name; });
	
	var courses = Array.from(ctarget.children);
	var ids2 = courses.map(element => {
	return element.name; });
	
	var tags = Array.from(ttarget.children);
	var ids3 = tags.map(element => {
	return element.name; });
	
	var ids = ids1.concat(ids2, ids3);
	
	if (total_terms.every(r => ids.includes(r))){
	recipes[i].style.display = 'block';
	}
	else {
	recipes[i].style.display = 'none';
	}
	var div = document.getElementById("testdiv");
	//div.innerHTML += i + "tags " + ids + ";"//
	
	}
	}
	
	
</script>

{{ end }}
