{{ define "main" }}
<main>

    <h1>{{ .Title }}</h1>
<div class="container">
	<div class="row">
	<div class="catalogue" class="col">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..." title="Type a string">

  <ul id="myUL">

    {{ range .Data.Terms.ByCount }}
  	<li><input type="checkbox" id="{{ .Page.Title }}" onclick="filter_function({{ .Page.Title }})"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
  {{ end }}

        </ul>
	</div>
	<div class="col">
		List of recipes<br>
		JSON Data <br>
		<div id="testdiv"></div>
	{{ range .Site.Data.recipes }}
		<div class="recipe-card" id= "{{ .id }}">
			<h2><a href="../letters/{{.id}}">{{ .title }}</a></h2>
		<h4>Ingredientes</h4>
			{{ .ingredients}}
		</div>
		{{ end }}
		
		
	
	</div>
</div>
	<div class="pagination">
		{{- if .Paginator.HasPrev -}}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{- end -}}
		{{- if .Paginator.HasNext -}}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{- end -}}

		<span>{{ .Paginator.PageNumber }}</span>
	</div>

</main>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
	    ul = document.getElementById("myUL");
//    li = ul.getElementsByTagName("h1");
      li = ul.getElementsByTagName("li");

			for (i = 0; i < li.length; i++) {
			    a = li[i].getElementsByTagName("a")[0];
			    txtValue = a.textContent || a.innerText;
			    if (txtValue.toUpperCase().indexOf(filter) > -1) {
			      li[i].style.display = "";
			    } else {
			      li[i].style.display = "none";
			    }
			  }
}

function filter_function(query) {
//function for hiding recipes in the list that do not contain the selected ingredient in their metadata//
	var checkbox = document.getElementById(query)
	var recipes = document.getElementsByClassName("recipe-card");
	var div = document.getElementById("testdiv");
	div.innerHTML += recipes.length;
	
		for (var i = 0; i < recipes.length; i++) {
			if (recipes[i].textContent.includes(query)){
			//recipes[i].style.display = 'block';
}
else {
recipes[i].style.display = 'none';
}
}
checkbox.setAttribute("checked","");
}
</script>

{{ end }}
