{{ define "main" }}
<main>

    <h1>{{ .Title }}</h1>
<div class="container-fluid">
	<div class="row">
	<div class="catalogue" class="col">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..." title="Type a string">

  <ul id="myUL">

    {{ range .Data.Terms.ByCount }}
  	<li><input type="checkbox" id="{{ .Page.Title }}" onclick="filter2({{ .Page.Title }})"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</li>
  {{ end }}

        </ul>
	</div>
	<div class="col">
		List of recipes<br>
		JSON Data <br>
		<div id="testdiv"></div>
	{{ range .Site.Data.recipes }}
		<div class="recipe-card" id= "{{ .id }}">
			<h2><a href="../recetas/{{.id}}">{{ .title }}</a></h2>
		<h4>Ingredientes</h4>
			<div class="ingredients">
				<span id="{{ index .ingredients 0 }}">{{ index .ingredients 0}}</span>
				<span id="{{ index .ingredients 1 }}">{{ index .ingredients 1}}</span>
				<span id="{{ index .ingredients 2 }}">{{ index .ingredients 2}}</span>
				<span id="{{ index .ingredients 3 }}">{{ index .ingredients 3}}</span>
				<span id="{{ index .ingredients 4 }}">{{ index .ingredients 4}}</span>
				<span id="{{ index .ingredients 5 }}">{{ index .ingredients 5}}</span>
				<span id="{{ index .ingredients 6 }}">{{ index .ingredients 6}}</span>
				<span id="{{ index .ingredients 7 }}">{{ index .ingredients 7}}</span>
				<span id="{{ index .ingredients 8 }}">{{ index .ingredients 8}}</span>
				<span id="{{ index .ingredients 9 }}">{{ index .ingredients 9}}</span>
				<span id="{{ index .ingredients 10 }}">{{ index .ingredients 10}}</span>
			</div>
		</div>
		{{ end }}
		
		
	
	</div>
</div>
	<div class="pagination">
		{{- if .Paginator.HasPrev -}}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{- end -}}
		{{- if .Paginator.HasNext -}}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{- end -}}

		<span>{{ .Paginator.PageNumber }}</span>
	</div>

</main>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
	    ul = document.getElementById("myUL");
//    li = ul.getElementsByTagName("h1");
      li = ul.getElementsByTagName("li");

			for (i = 0; i < li.length; i++) {
			    a = li[i].getElementsByTagName("a")[0];
			    txtValue = a.textContent || a.innerText;
			    if (txtValue.toUpperCase().indexOf(filter) > -1) {
			      li[i].style.display = "";
			    } else {
			      li[i].style.display = "none";
			    }
			  }
}

function filter_function(query) {
//function for hiding recipes in the list that do not contain the selected ingredient in their metadata//
	var checkbox = document.getElementById(query)
	var recipes = document.getElementsByClassName("recipe-card");
	var div = document.getElementById("testdiv");
	div.innerHTML += recipes.length + terms;
	
		for (var i = 0; i < recipes.length; i++) {
			if (recipes[i].textContent.includes(query)){
				recipes[i].style.display = 'block';
			}
			else {
				recipes[i].style.display = 'none';
			}
		}
		checkbox.setAttribute("checked","");
}

var terms=[]

function filter2(query) {
	var checkbox = document.getElementById(query)

	if (checkbox.hasAttribute('checked')){
			checkbox.removeAttribute('checked');
			qloc = terms.indexOf(query);
			terms.splice(qloc, 1);
	}
	else {
		terms.push(query);
		checkbox.setAttribute("checked","");
}
	var recipes = document.getElementsByClassName("recipe-card");
	for (var i= 0; i < recipes.length; i++) {
		var rtarget = recipes[i]
		var itarget = rtarget.children[2]
		var ings = Array.from(itarget.children);
		var ids = ings.map(element => {
		return element.id; });
		
		if (terms.every(r => ids.includes(r))){
			recipes[i].style.display = 'block';
		}
		else {
			recipes[i].style.display = 'none';
		}
//var div = document.getElementById("testdiv");
//div.innerHTML += terms
}
}


</script>

{{ end }}
