{{ define "main" }}
<main>

    <h1>{{ .Title }}</h1>
<div class="container-fluid">
	<div class="row">
	<div class="catalogue" class="col">
		<div>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search..." title="Type a string"></div>

 <h3 class="subhead">Ingredientes</h3>
		<ul id="myUL">

    {{ range .Data.Terms.ByCount }}
    
  	<li><button type="checkbox" name="{{ .Page.Title }}" id="c{{ .Page.Title }}" onclick="filter2({{ .Page.Title }})"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})</button></li>
  {{ end }}
  
        </ul>
	</div>
	<div class="col">
		List of recipes<br>
		JSON Data <br>
		<div id="testdiv"></div>
	{{ range .Site.Data.recipes }}
		<div class="recipe-card" id= "{{ .id }}">
			<h2><a href="../recetas/{{.id}}">{{ .title }}</a></h2>
			
		<h4>Ingredientes</h4>
			<div class="ingredients">
				<button type="checkbox" name="{{ index .ingredients 0 }}" onclick = "filter2({{ index .ingredients 0 }})" class="ingtag" id="t{{ index .ingredients 0 }}">{{ index .ingredients 0}}</button>
				<button type="checkbox" name="{{ index .ingredients 1 }}" onclick = "filter2({{ index .ingredients 1 }})" class="ingtag" id="t{{ index .ingredients 1 }}">{{ index .ingredients 1}}</button>
				<button type="checkbox" name="{{ index .ingredients 2 }}" onclick = "filter2({{ index .ingredients 2 }})" class="ingtag" id="t{{ index .ingredients 2 }}">{{ index .ingredients 2}}</button>
				<button type="checkbox" name="{{ index .ingredients 3 }}" onclick = "filter2({{ index .ingredients 3 }})" class="ingtag" id="t{{ index .ingredients 3 }}">{{ index .ingredients 3}}</button>
				<button type="checkbox" name="{{ index .ingredients 4 }}" onclick = "filter2({{ index .ingredients 4 }})" class="ingtag" id="t{{ index .ingredients 4 }}">{{ index .ingredients 4}}</button>
				<button type="checkbox" name="{{ index .ingredients 5 }}" onclick = "filter2({{ index .ingredients 5 }})" class="ingtag" id="t{{ index .ingredients 5 }}">{{ index .ingredients 5}}</button>
				<button type="checkbox" name="{{ index .ingredients 6 }}" onclick = "filter2({{ index .ingredients 6 }})" class="ingtag" id="t{{ index .ingredients 6 }}">{{ index .ingredients 6}}</button>
				<button type="checkbox" name="{{ index .ingredients 7 }}" onclick = "filter2({{ index .ingredients 7 }})" class="ingtag" id="t{{ index .ingredients 7 }}">{{ index .ingredients 7}}</button>
				<button type="checkbox" name="{{ index .ingredients 8 }}" onclick = "filter2({{ index .ingredients 8 }})" class="ingtag" id="t{{ index .ingredients 8 }}">{{ index .ingredients 8}}</button>
				<button type="checkbox" name="{{ index .ingredients 9 }}" onclick = "filter2({{ index .ingredients 9 }})" class="ingtag" id="t{{ index .ingredients 9 }}">{{ index .ingredients 9}}</button>
		</div>
			<h4>Course</h4>
				
				<span>{{ .course }}</span>
				
		</div>
		{{ end }}
		
		
	
	</div>
</div>
	<div class="pagination">
		{{- if .Paginator.HasPrev -}}
			<a href="{{ .Paginator.Prev.URL }}" class="left arrow">&#8592;</a>
		{{- end -}}
		{{- if .Paginator.HasNext -}}
			<a href="{{ .Paginator.Next.URL }}" class="right arrow">&#8594;</a>
		{{- end -}}

		<span>{{ .Paginator.PageNumber }}</span>
	</div>
</div>
</main>

<script>
function myFunction() {
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
	    ul = document.getElementById("myUL");
//    li = ul.getElementsByTagName("h1");
      li = ul.getElementsByTagName("li");

			for (i = 0; i < li.length; i++) {
			    a = li[i].getElementsByTagName("a")[0];
			    txtValue = a.textContent || a.innerText;
			    if (txtValue.toUpperCase().indexOf(filter) > -1) {
			      li[i].style.display = "";
			    } else {
			      li[i].style.display = "none";
			    }
			  }
}

function filter_function(query) {
//function for hiding recipes in the list that do not contain the selected ingredient in their metadata//
	var checkbox = document.getElementById(query)
	var recipes = document.getElementsByClassName("recipe-card");
	var div = document.getElementById("testdiv");
	div.innerHTML += recipes.length + terms;
	
		for (var i = 0; i < recipes.length; i++) {
			if (recipes[i].textContent.includes(query)){
				recipes[i].style.display = 'block';
			}
			else {
				recipes[i].style.display = 'none';
			}
		}
		checkbox.setAttribute("checked","");
}

var terms=[]

function filter2(query) {
	var checkboxes = document.getElementsByName(query);

	if (checkboxes[0].classList.contains('selected')){
	checkboxes.forEach(a=>a.classList.remove("selected"));
	checkboxes.forEach(a=>a.classList.add("deselected"));
	checkboxes.forEach(a=>a.removeAttribute('checked'));
		//checkbox.removeAttribute('checked');//
		qloc = terms.indexOf(query);
		terms.splice(qloc, 1);
	}
	else {
		terms.push(query);
		//checkbox.setAttribute("checked","");//
		checkboxes.forEach(a=>a.classList.remove("deselected"));
		checkboxes.forEach(b=>b.classList.add("selected"));
		checkboxes.forEach(b=>b.setAttribute("checked",""));
}
	var recipes = document.getElementsByClassName("recipe-card");
	for (var i= 0; i < recipes.length; i++) {
		var rtarget = recipes[i]
		var kids = rtarget.children
		var itarget = rtarget.children[2]
		var ings = Array.from(itarget.children);
		var ids = ings.map(element => {
		return element.name; });

			if (terms.every(r => ids.includes(r))){
				recipes[i].style.display = 'block';
			}
			else {
				recipes[i].style.display = 'none';
			}
	var div = document.getElementById("testdiv");
	//div.innerHTML += i + "Ings" + ids + ";"
	div.innerHTML = kids[2].tagName
}
}


//working except the double inputs don't get marked as checked together.
function filter3(query) {
var checkbox = document.getElementById(query)

if (checkbox.hasAttribute('checked')){
checkbox.removeAttribute('checked');
qloc = terms.indexOf(query);
terms.splice(qloc, 1);
}
else {
terms.push(query);
checkbox.setAttribute("checked","");
}
var recipes = document.getElementsByClassName("recipe-card");
for (var i= 0; i < recipes.length; i++) {
var rtarget = recipes[i]
var itarget = rtarget.children[2]
var ings = Array.from(itarget.children);
var ids = ings.map(element => {
return element.id; });

if (terms.every(r => ids.includes(r))){
recipes[i].style.display = 'block';
}
else {
recipes[i].style.display = 'none';
}
//var div = document.getElementById("testdiv");
//div.innerHTML += terms
}
}


</script>

{{ end }}
