{{ define "main" }}

<main>
    
    
    <div class="welcome">
        <h1>Welcome to Recipes From the Americas</h1>
         
       
       <p> <i>Recipes From the Americas</i> is an experimental digital humanities project. It is based off data from recipes printed in historic newspapers published in Florida that were digitized 
           and made available online through the <a href="https://ufndnp.domains.uflib.ufl.edu/">US Caribbean & Ethnic Florida Digital Newspaper Project</a>.</p>
        <p><i>Recipes</i> makes printed newspaper recipes more accessible and interactive by integrating searching and filtering by ingredient, meal course, and dietary restrictions. 
        <br/>Search for an ingredient and see what recipes come up! Then review the recipe directly on this site, 
        check out the original recipe in <a href="https://chroniclingamerica.loc.gov">Chronicling America</a>, and/or print out a recipe card to keep.</p>
        
           
        <h3>Did you try a recipe?</h3>
        <p>We’d love to feature you on our site! Share your experience with us by tagging us on <a href="https://m.facebook.com/UFNDNP">Facebook</a> or 
            <a href="https://twitter.com/UFNDNP">Twitter</a> @ufndnp, or email us at <a href="mailto: ufndnp@uflib.ufl.edu">ufndnp@uflib.ufl.edu</a>.</p>
        <p>Want more information about this project? Email us at <a href="mailto: ufndnp@uflib.ufl.edu">ufndnp@uflib.ufl.edu</a>.</p>
        
        
    </div>
    <div class="card-gallery">
    <div class="card">
        <img src="../images/homepage/sarah.jpg" alt="Avatar">
        <div class="caption">
            <h4><b>Name (optional)</b></h4>
            <p>Receta with link</p>
        </div>
    </div>
        <div class="card">
            <img src="../images/homepage/jerome.jpg" alt="Avatar">
            <div class="caption">
                <h4><b>Name (optional)</b></h4>
                <p>Receta with link</p>
            </div>
        </div>
    </div>
    
    <div class="pagination">
        {{- if .PrevPage }}
        <a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
        {{- end }}
        {{- if .NextPage }}
        <a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
        {{- end }}
        
    </div>
</main>

{{ end }}