{{ define "main" }}

<main>
       
    <div class="welcome">
       <h1>Bienvenid@s al proyecto Recetas</h1>
        
        <p>Recetas es un proyecto experimental del <a href="https://ufndnp.domains.uflib.ufl.edu/"> US Caribbean and Ethnic Florida Digital Newspaper Project</a> de la Universidad de Florida.</p>
        
        <p>Todas las recetas son del <a href="https://chroniclingamerica.loc.gov/lccn/sn82001257/"><i>Diario las Américas</i></a>. </p>
    </div>
    <div class="card-gallery">
    <div class="card">
        <img src="../images/homepage/sarah.jpg" alt="Avatar">
        <div class="caption">
            <h4><b>Name (optional)</b></h4>
            <p>Receta with link</p>
        </div>
    </div>
        <div class="card">
            <img src="../images/homepage/jerome.jpg" alt="Avatar">
            <div class="caption">
                <h4><b>Name (optional)</b></h4>
                <p>Receta with link</p>
            </div>
        </div>
    </div>
    
    <div class="pagination">
        {{- if .PrevPage }}
        <a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
        {{- end }}
        {{- if .NextPage }}
        <a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
        {{- end }}

    </div>
</main>

{{ end }}