{{ define "main" }}

<main>
       
    <div class="welcome">
      
        <h1>Bienvenid@s a <i>Recetas de las Américas</i></h1>
        <p><i>Recetas de las Américas</i> es un proyecto experimental de humanidades digitales. Se basa en datos de recetas impresas en periódicos históricos publicados en la Florida que fueron digitalizados y puestos a disposición en línea a través del 
            <a href="https://ufndnp.domains.uflib.ufl.edu/">US Caribbean and Ethnic Florida Digital Newspaper Project</a>.
        </p>
        <p>Este proyecto hace que las recetas de los periódicos impresos sean más accesibles e interactivas al integrar la búsqueda y el filtrado por ingrediente, curso de comida y restricciones dietéticas. ¡Busca un ingrediente y mira qué recetas surgen! Luego revise la receta directamente en este sitio, consulte la receta original en <a href="https://chroniclingamerica.loc.gov/">Chronicling America</a> y/o imprima una tarjeta de recetas para guardarla.</p>
        
        <h4>¿Probaste una receta?</h4>
        <p>¡Nos encantaría presentarte en nuestro sitio! Comparta su experiencia con nosotros en <a href="https://m.facebook.com/UFNDNP">Facebook</a> o <a href="https://twitter.com/UFNDNP">Twitter</a> @ufndnp, o envíenos un correo electrónico a <a href="mailto: ufndnp@uflib.ufl.edu">ufndnp@uflib.ufl.edu</a>.</p>
        
        <p>¿Quieres más información sobre este proyecto? Envíenos un correo electrónico a <a href="mailto: ufndnp@uflib.ufl.edu">ufndnp@uflib.ufl.edu</a>.</p>
        
        
    </div>
    <div class="card-gallery">
    <div class="card">
        <img src="../images/homepage/sarah.jpg" alt="Avatar">
        <div class="caption">
            <h4><b>Name (optional)</b></h4>
            <p>Receta with link</p>
        </div>
    </div>
        <div class="card">
            <img src="../images/homepage/jerome.jpg" alt="Avatar">
            <div class="caption">
                <h4><b>Name (optional)</b></h4>
                <p>Receta with link</p>
            </div>
        </div>
    </div>
    
    <div class="pagination">
        {{- if .PrevPage }}
        <a href="{{ .PrevPage.RelPermalink }}" class="left arrow">&#8592;</a>
        {{- end }}
        {{- if .NextPage }}
        <a href="{{ .NextPage.RelPermalink }}" class="right arrow">&#8594;</a>
        {{- end }}

    </div>
</main>

{{ end }}