.recipe-card {
 background: pink;
 border-style: dashed;
 margin-bottom: 2em;
 padding: 0em 1em 2em 2em;
 }
 
 main {
     background: grey;
 }

ul {
    list-style-type: none;
}

.nav {
    max-width: 100vw;
    border-bottom: double
}

.row {
  display: flex;
  width: 100%;
}

.col {
	padding: 1em 1em 1em 1em;
}

footer {
   font-size: 10pt;
   }

